@font-face {
    font-family: 'Conv_CircularStd-Book';
    src: url('../fonts/CircularStd-Book.eot');
    src: local('☺'), url('../fonts/CircularStd-Book.woff') format('woff'), 
        url('../fonts/CircularStd-Book.ttf') format('truetype'), 
        url('../fonts/CircularStd-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_CircularStd-Medium';
    src: url('../fonts/CircularStd-Medium.eot');
    src: local('☺'), url('../fonts/CircularStd-Medium.woff') format('woff'), 
        url('../fonts/CircularStd-Medium.ttf') format('truetype'), 
        url('../fonts/CircularStd-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_CircularStd-Bold';
    src: url('../fonts/CircularStd-Bold.eot');
    src: local('☺'), url('../fonts/CircularStd-Bold.woff') format('woff'), 
        url('../fonts/CircularStd-Bold.ttf') format('truetype'), 
        url('../fonts/CircularStd-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_CircularStd-Black';
    src: url('../fonts/CircularStd-Black.eot');
    src: local('☺'), url('../fonts/CircularStd-Black.woff') format('woff'), 
        url('../fonts/CircularStd-Black.ttf') format('truetype'), 
        url('../fonts/CircularStd-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



body{
  background-color: #ffffff;
  background: url('bg.jpg') no-repeat;
  background-size: 1600px;
  background-position: center 20px;
  font-family: 'Source Sans Pro', sans-serif;
  /*background-position: bottom center;*/
  /*background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23494949' fill-opacity='0.03' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");*/
}

h1{
  font-family: 'Conv_CircularStd-Black', sans-serif;
  font-size: 5em;
  letter-spacing: -1px;
}

li{
 font-family: 'Conv_CircularStd-Book', sans-serif;
}
.white-t-bg{
    background: rgba(255,255,255,0.4);
}
.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br-100 {
    border-radius: 100%;
}

.db {
    display: block;
}

.flex {
    display: flex;
}

.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.items-center {
    align-items: center;
}

.h2 {
    height: 2rem;
}

.lh-copy {
    line-height: 1.5;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.list {
    list-style-type: none;
}

.w2 {
    width: 2rem;
}

.black-70 {
    color: rgba(0, 0, 0, .7);
}

.blue {
    color: #408bc9;
}

.hover-dark-gray:hover {
    color: #4d4d4f;
}

.hover-dark-gray:focus {
    color: #4d4d4f;
}

.pa3 {
    padding: 1rem;
}

.pl0 {
    padding-left: 0;
}

.pl3 {
    padding-left: 1rem;
}

.mt0 {
    margin-top: 0;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .h3-ns {
        height: 4rem;
    }

    .w3-ns {
        width: 4rem;
    }
}

@media screen and (min-width: 60em) {
    .ph0-l {
        padding-left: 0;
        padding-right: 0;
    }
}
